.anyClass {
  color: red;
}
.inputClass {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.anyClass1 {
  color: rgb(102, 0, 255);
}
.inputClass1 {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #6a1a1a;
  border-radius: 4px;
  box-sizing: border-box;
}
